*.tfvars
*.tfstate*
.terraform/
**/inspec.lock
*.gem
.kitchen/
.kitchen.local.yml
Gemfile.lock
terraform.tfstate.d/
kubeconfig
config-map-aws-auth.yaml
eks-admin-cluster-role-binding.yaml
eks-admin-service-account.yaml
.idea/
